<div class="section agenda">
  <div class="row column text-center">


    <div class="agenda__month">
      <h2 class="agenda__month__title"><time datetime="">lundi</time></h2>
      <ol class="agenda__list">
        <li class="agenda__item toiletteur">
          <article class="agenda__item__article">
            <span class="agenda__item__date">12</span>
            <div class="agenda__item__detail">
              <div class="horaires"><time datetime="">12:15</time></div>
              <div class="desc">
                <h3 class="agenda__item__title">Agenda item title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <button class="edit__btn"><i class="fa fa-pencil"></i></button>
            </div>
          </article>
        </li>
        <li class="agenda__item">
          <article class="agenda__item__article">
            <span class="agenda__item__date">20</span>
            <div class="agenda__item__detail">
              <div class="horaires"><time datetime="">12:15</time></div>
              <div class="desc">
                <h3 class="agenda__item__title">Agenda item title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <button class="edit__btn"><i class="fa fa-pencil"></i></button>
            </div>
          </article>
        </li>
      </ol>
    </div>
    <div class="agenda__month">
      <h2 class="agenda__month__title"><time datetime="">Mars 2023</time></h2>
      <ol class="agenda__list">
        <li class="agenda__item veterinaire">
          <article class="agenda__item__article">
            <span class="agenda__item__date">22</span>
            <div class="agenda__item__detail">
              <div class="horaires"><time datetime="">12:15</time></div>
              <div class="desc">
                <h3 class="agenda__item__title">Agenda item title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <button class="edit__btn"><i class="fa fa-pencil"></i></button>
            </div>
          </article>
        </li>
        <li class="agenda__item club">
          <article class="agenda__item__article">
            <span class="agenda__item__date">6</span>
            <div class="agenda__item__detail">
              <div class="horaires"><time datetime="">19:15</time></div>
              <div class="desc">
                <h3 class="agenda__item__title">Agenda item title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <button class="edit__btn"><i class="fa fa-pencil"></i></button>
            </div>
          </article>
        </li>
      </ol>
    </div>
  </div>
</div>
