// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Personnal Color Scheme
$my_blue: #168fc0;
$my_blue_light: #3db7d8;
$my_orange_red:  #e87136;
$my_yellow: #f2c588;
$my_yellow_orange: #f2a449;
