<div class="my-3 mx-3">
  <h3>Shopping-list</h3>
</div>

  <% current_user.menu.menu_dishes.each do |menu_dish| %>
    <%= menu_dish.dish.name %>
  <% end %>

  <br>

<div class="overflow-auto">
  <% current_user.menu.menu_dishes.each do |menu_dish| %>
    <% menu_dish.dish.ingredient_dish.each do |ing_dish| %>
    <p><%= ing_dish.quantity %> <%= ing_dish.ingredient.name %></p>
    <% end %>
  <% end %>
</div>
