<div class="container">
  <div class="my-3 mx-3">
    <%# <h3>Shopping-list</h3> %>
    <% current_user.menu.shopping_list.each do |name, quantity| %>
      <p><input type="checkbox"> <%= name %>: <%= quantity %></p>
    <% end %>
  </div>
</div>
