<h1>Shopping List</h1>

<h2>Ingredients</h2>

<div>
  <% if @shopping_list.empty?%>
    <p>There are no ingredients in your shopping list.</p>
  <% else %>
    <ul>
      <% @shopping_list.ingredients.each do |ingredient| %>
        <li>
          <%= check_box_tag "ingredients[]", ingredient.id, false %>
          <%= label_tag "ingredients_#{ingredient.id}",
          "#{ingredient.name}, (#{ingredient.quantity} #{ingredient.value})" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%# <%= button_to "Update", update_shopping_list_path(@shopping_list), method: :put  %> %>
