<div class= "container text-center p-5">
  <div class ="mt-5"><h1 id="title"> Never Run Out of Meal Ideas Again</h1></div>
</div>

<section class="hero-section">
  <div class="card-grid">
    <% @dishes.each do |dish| %>
      <%= link_to dish_path(dish), class: "card" do %>
        <%= cl_image_tag dish.photo.key, crop: :fill, class: "card__background" %>
        <div class="card__content">
          <p class="card__category"><h2><%= dish.name %></h2></p>
          <p class="card__heading"><%= dish.description.html_safe %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
