.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $my_blue_light ;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $my_blue;
  color: white;
}
