/* Carousel base class / Page#HOME */
/*------------------------- */
.carousel {
  margin-bottom: 4rem;
  height: calc(100vh - 70px);
}
/* Since positioning the image, we need to help out the caption
  height:100vh;
  width:100%; */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  // height: 100%;
  height: calc(100vh - 70px);
}
.carousel-item > img {
  position: relative;
  object-fit: cover;
  top: 0;
  // height: 32rem;
  height: calc(100vh - 70px);
  left: 0;
  min-width: 100%;
}


