.favoris-section{
  padding: 4rem 0 2rem;
}

.favoris__button{
  bottom: 0;
  border-radius: .5rem 0 .5rem 0;
  display: flex;
  padding: .625rem .813rem;
  position: absolute;
  right: 0;
}


/*========== Favoris-2 ==========*/
.lower-dishes{
  display: flex;

  // flex-direction: column;
}

// .dishes-row{
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

.dishes-card{
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;
  // margin-right: 20px;
  margin: 20px;
  position: relative;
  text-align: center;
  width: 180px;
}

.dish-img>img{
  border-radius: 50%;
  height:100px;
  width:100px;
}

.dish-img>img:hover{
  transform: scale(1.1)
}

.dishes-card>.dish-title{
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px ;
}

.dish-title{
  margin: 10px ;
}
