#nav-menu {
  .container-menu_dish {
    height: auto;
  }
  .lower-dishes {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    height: 175px;
    .dishes-card {
      margin-left: 10px;
    }
  }
  .dishes-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    .dish-content {
      height: 140px;
      width: 140px;
      border-radius: 50%;
      box-shadow: 3px 2px 4px 1px #545454;
      .dish-title {
        position: relative;
        top: 4.6em;
        transform: translateY(-58%);
        background-image: linear-gradient(to right, transparent,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7), transparent);
        text-align: center;
        width: 140px;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .dish-delete {
      display: block;
      text-align: center;
      position: relative;
      bottom: 0;
      width: 140px;
    }
  }
  .table {
    width: auto;
    border: 1px dotted $my_yellow_orange;
    background-color: rgba(255, 255, 255, 0.7);
    thead {
      text-align: center;
      .calendar-header-column {
        background-color: $my_yellow_orange;
      }
    }
    tbody {
      vertical-align: middle;
      tr.calendar-row {
        height: 200px;
        th.calendar-header-row {
          width: 50px;
          background-color: $my_yellow_orange;
        }
        td.calendar-slot {
          width: 165px;
          border-style: dotted;
        }
      }
    }
  }
}
