/*========== general ==========*/
body {
  width: 100%;
}

a {
  color: $my_orange_red;
  text-decoration: none;
}

a:hover {
  color: $my_blue_light;
}

h1 {
  font-weight: bold!important;
  font-size: 34px;
  // line-height: 1.3;
}

#title {
  font-weight: bold!important;
  font-size: 48px;
  color: $my_orange_red;
}

/*========== Etoile add to Favorites ==========*/
.text-yellow {
  color: $yellow
}

/*========== DISH Show ==========*/
.scroll {
  height: 700px;
  overflow: scroll;
}

/*========== Luffy ==========*/
.mdl-tabs__panel{
  animation-duration: 25s;
  animation-name: slidein;
  animation-iteration-count: infinite;

  @keyframes slidein {
    from {
      margin-left: 0%;
      width: 300%;
    }
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 100%;
      width: 100%;
    }
  }
}
