/*========== Etoile add to Favorites ==========*/
.text-yellow {
  color: $yellow
}

/*==========  ==========*/
a {
  text-decoration: none;
  color: $my_orange_red;
}

a:hover {
  color: $my_blue_light;
}

/*========== DISH Show ==========*/
.scroll {
  overflow: scroll;
  height: 700px;
}


/*========== Luffy ==========*/
.mdl-tabs__panel{
  animation-duration: 25s;
  animation-name: slidein;
  animation-iteration-count: infinite;

  @keyframes slidein {
    from {
      margin-left: 0%;
      width: 300%;
    }
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 100%;
      width: 100%;
    }
  }
}
